@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.5s ease, background-image 0.5s ease;
}

/* Dynamic Background Classes */
body.default {
    background: url(C:\Users\agarw\OneDrive\Desktop\weather\weather-app\src\city1.jpg);
    background-size: cover;
    background-position: center;
}

body.sky {
    background: url(C:\Users\agarw\OneDrive\Desktop\weather\weather-app\src\sky.webp);
}

body.haze {
    background: url(C:\Users\agarw\OneDrive\Desktop\weather\weather-app\src\haze.webp);
}

body.rainy {
    background: url(C:\Users\agarw\OneDrive\Desktop\weather\weather-app\src\rain.webp);
}

body.cloudy {
    background: url(C:\Users\agarw\OneDrive\Desktop\weather\weather-app\src\background1.jpg);
}

body.snowy {
    background: linear-gradient(to bottom, #ecf0f1, #bdc3c7);
}
body.thunderstorm {
    background:url(C:\Users\agarw\OneDrive\Desktop\weather\weather-app\src\city.jpg);
}
body.misty {
    background: linear-gradient(to bottom, #a0c20d, #bdc3c7);
}

.App {
    width: 400px;
    padding: 25px;
    border-radius: 10px;
    background: transparent;
}

.App h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 1100;
    justify-content: center;
    display: flex;
    background: linear-gradient(262deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
}

.input-wrapper {
    display: flex;
}

.input-wrapper input {
    width: 100%;
    padding: 5px 10px;
    height: 30px;
    background-color: white;
    font-size: 14px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.input-wrapper input:focus {
    outline: none;
}

.input-wrapper button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #fff;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    width: 80px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(262deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
    margin-top: 10px;
    border-radius: 10px;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-c {
    flex-direction: column;
    justify-content: center;
}

.location {
    margin-top: 20px;
}

.location h2 {
    margin: 0;
    margin-left: 10px;
    font-weight: 500;
}

.location h2 span {
    font-size: 24px;
}

.datetext {
    font-size: 20px;
}

.weatherdesc h3 {
    margin: 0;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 29px;
}

.tempstats {
    width: 100%;
    padding: 20px 0px;
}

.tempstats h1 {
    font-size: 64px;
    font-weight: 450;
    justify-content: center;
}

.tempstats h1 span {
    font-size: 38px;
}

.tempstats h3 {
    font-weight: 500;
    font-size: 28px;
    justify-content: center;
}

.windstats {
    padding: 0px 20px;
    background: rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    border-radius: 10px;
}

.windstats h3 {
    margin-left: 10px;
    font-weight: 600;
}
